body{
    background-color:gray;
    margin: 0;
    padding: 0;
} 
.box{
    position: absolute;
    width:10cm;
    height:6cm;
    background-color:white;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
} 
.circle{
    position: relative;
    width: 4cm;
    height: 4cm;
    background:red;
    border-radius:50%;
    top:50%;
    left:50%;
    transform: translate(-50%,150%);
} 
