body{
    background-color: grey;
} 
.flag1{
    padding: 100px;
    background-color: red;
    margin:top:5rem;;
    margin-left: 20rem;
    margin-right:20rem;
} 

.flag2{
    padding: 100px;
    background-color:white;
    margin:top:5rem;;
    margin-left: 20rem;
    margin-right:20rem;
}