*{
    margin: 0px;;
    padding: 49px;px;
} 
.red{
    width:100px;
    height: 445px; px;
    background-color: red;
} 
.box .green{
   width: 400px;
   height:100px;
   background-color: green;
}
.box .white{
    width:400px;
    height:100px;
    background-color: white;

} 
.box .black{
    width:400px;
    height:100px;
    background-color: black;

}
.box{
    position:absolute;
    top:0px;
    left: 100px;
}
